.canvas-msg{
	width: 500px;
    height: 300px;
    background: #113340;
    position: absolute;
    top: 170px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.3em;
    border-radius: 3px;
    line-height: 100px;
}