.canvas-msg{
	width: 400px;
    height: 200px;
    background: #113340;
    position: absolute;
    top: 100px;
    left: 20%;
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.3em;
    border-radius: 3px;
    line-height: 100px;
}