

.canvas-msg{
	width: 500px;
    height: 300px;
    background: #113340;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.3em;
    border-radius: 3px;
    line-height: 100px;
}

@media only screen and (max-width: 770px){
    .canvas-msg{
        width: 400px;
        height: 250px;
    }

    .canvas-ins{
        width: 80%;
    }
    
}

@media only screen and (max-width: 736px){
    .canvas-msg{
        top: 190px;
        width: 300px;
        font-size: 10px;
    }
}

@media only screen and (max-width: 500px){
    .canvas-msg{
        width: 200px;
        top: 140px;
    }
}

@media only screen and (max-width: 380px){
    .canvas-msg{
        width: 200px;
        height: 130px;
        top: 140px;
    }
}

@media only screen and (max-width: 330px){
    .canvas-msg{
        width: 150px;
        height: 100px;
        top: 140px;
    }
}

/* Canvas Instructions */

.canvas-ins{
    position: absolute;
    max-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-family: 'Roboto';
    background: #113340;
    color: #fff;
    padding: 20px;
}

.canvas-ins button {
    width: 100px;
    margin-top: 20px;
    height: 40px;
}