.games-gallery-wrapper{
	height: 70vh;
}

.games-wrapper{
	z-index: 1;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	height: 220px;
	text-align: center;
	width: 100%;
	margin: auto;

}

.game{
	border: 1px solid #ccc;
	width: 250px;
	height: 200px;
	display: inline-block;
	margin-left: 10px;
	line-height: 200px;
	font-family: 'Poppins';
	background: #37A4CC;
	color:#fff;
}

.game:hover{
	background: #91E2FF;
	cursor: pointer;
}

.beta{
	 line-height: 0px;
    margin-top: -50px;
    color: #ffcc00;
}

@media only screen and (max-width: 985px){
	.games-container{
		    height: 100%;
    	width: 250px;
    	margin: auto;
	}
	.game{
  		width: 200px;
  		margin: 10px 10px;
  	}
}

@media only screen and (max-width: 985px){
	.games-container{
		    height: 100%;
    	width: 250px;
    	margin: auto;
	}
	.game{
		height: 200px;
  		width: 200px;
  		margin: 10px 10px;
  	}
}

@media only screen and (max-width: 848px){
	.games-wrapper{
		width: 220px;
		top: 120px;
	}
}

@media only screen and (max-height: 920px){
	.games-wrapper{
		width: 220px;
		top: 120px;
	}

	.bottom-banner{
		display: none;
	}
}

@media only screen and (max-height: 800px){
	.footer-wrapper{
		padding-bottom: 100px;
	}
}


@media only screen and (max-height: 700px){
	.footer-wrapper{
		padding-bottom: 300px;
	}
}


@media only screen and (max-height: 500px){
	.footer-wrapper{
		padding-bottom: 500px;
	}
}
