.score-board-view{
	height: 100vh;
	position: relative;
}

.scores{
	text-align: center;
	margin-top: 20px;
	margin: 50px auto;
}

tbody{
	height: 20px;
}

tr{
	font-family: 'Roboto';
}


.category{
	background: #fff;
	font-weight: 800;
}

td{
	background: #91E2FF;
	width: 1%;
	padding: 5px;
}

td:hover{
	background: #45CDFF;
}